@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#navItem1 {
    color: #323f4b;
}

#navItem2 {
    color: #323f4b;
}

#navItem3 {
    color: #323f4b;
}

#navItem4 {
    color: #323f4b;
}

.img-logo {
    height: 30px;
    width: 30px;
}

.main-section {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    height: 100vh;
    background-size: cover;
}

.main-section-heading {
    color: #ebf0f2;
    font-family: Sans-Serif;
    font-weight: 600;
}

.main-section-button {
    width: 150px;
    height: 50px;
    color: #ebf0f2;
    font-size: 20px;
    background-color: #1a2137;
    border: 0px;
    border-radius: 10px;
}

h1 {
    font-weight: 600;
    font-family: Roboto;
    color: #1f2933;
}

h3 {
    font-weight: 500;
    color: #1f2933;
}

img {
    height: 50px;
    width: 50px;
}

.feature-con {
    text-align: center;
}

p {
    color: #7b8794;
}

.feature-span {
    color: #1f2933;
    font-weight: bold;
}

.kit-section {
    background-color: #f9fbfe;
}

.kit-section-heading {
    color: #1f2933;
    font-weight: bolder;
}

.kit-section-sub-heading {
    color: #323f4b;
}

.vr-con {
    text-align: center;
}

.kit-img {
    height: 400px;
    width: 250px;
}

.optics-section-sub-heading {
    color: #1f2933;
    font-weight: 600;
}

.optics-section-para {
    color: #7b8794;
}

.optics-section-button {
    color: white;
    background-color: #1a2137;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
}

.contact-us-section {
    background-color: #222b36;
}

.content {
    text-align: center;
    height: 300px;
}

.blog-section-heading {
    color: #1f2933;
}

.p1 {
    color: #959ead;
}

.p2 {
    color: #323f4b;
}

.p3 {
    color: #1754a1;
}

.product-card1 {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png');
    background-size: cover;
    height: 700px;
    padding: 20px;
}

.product-card2 {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png');
    background-size: cover;
    height: 700px;
    padding: 20px;
}

.footer-img {
    width: 100%;
    height: 100%;
}

.img-con {
    max-width: 70px;
    height: 50px;
    margin: auto;
}

.con {
    background-color: #19232d;
}

.icon {
    background-color: #202b36;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.icon-o {
    color: #959ead;
    margin: 20px;
}

.main-para {
    color: #959ead;
    margin: 20px;
}

h4 {
    color: #959ead;
}

.con-icon {
    color: #959ead;
}

.con-para {
    margin: 0px;
    display: inline;
    color: #959ead;
}

.let-para {
    color: #959ead;
}

hr {
    margin: 30px;
    color: red;
}

.copy-icon {
    color: #959ead;
    margin: 5px 4px 0px 0px;
}

.copy-para {
    color: #959ead;

}